{% extends 'base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
{% if lectures %}
    <div class="container-fluid">
    <div class="row row-cols-4">
    <div class="panel-group">
    {% for lecture in lectures %}

        {% autoescape off %}
        <div class="col-xs-4">
            <div class="panel panel-default main-panel">

                <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="{% url 'lecture:detail' forloop.counter %}">
                          Lecture {{ forloop.counter }}
                        </a>
                      </h4>
                </div>
            <div class="collapse panel-collapse in">
                <div class="panel-body">
                    {{ lecture }}
                </div>
            </div>
            </div>
        </div>


        {% endautoescape %}
    {% endfor %}
    </div>
    </div>


    <a href="create" class="btn btn-primary">Create A Lecture</a>
    </div>
{% else %}
    <p>No lecture to be shown.</p>
    <br/>
    <a href="create" >Please add one</a>
{% endif %}
{% endblock %}