{% extends 'base.html' %}
{% load admin_urls %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a class="nav-link" href="{% url 'lecture:index' %}">Home</a>

    </li>

{% endblock %}
{% block content %}
{% if lectures %}
    <div class="col-12">
    <div class="row ">
    {% for lecture in lectures %}
        {% autoescape off %}
        <div class="col-lg-4 col-md-12 mb-3">
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url 'lecture:detail' lecture.id %}">
                  <u>{{ lecture.title }}</u>
                </a>
              </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">简介： {{ lecture.introduction }}</li>
                    <li class="list-group-item">时间: {{ lecture.lecture_time }}</li>
                    <li class="list-group-item">地点: {{ lecture.lecture_location }}</li>

                    <li class="list-group-item">演讲人: {{ lecture.lecturer }}
                        <br/>
                        {{ lecture.lecturer_introduction }}
                    </li>
                    <li class="list-group-item">选课人数: {{ lecture.get_number_of_selected }}/{{ lecture.capacity }}</li>
                    <li class="list-group-item">
                        {% if request.user.is_staff %}
                            <div class="btn-group">
                                <a href="{{ lecture.get_change_url }}" class="btn btn-primary m-auto">修改</a>
                                <a href="#" class="btn btn-danger m-auto">删除</a>
                                <a href="{% url 'lecture:draw' lecture.id %}" class="btn btn-info m-auto {% if lecture.did_draw %} disabled{% endif %}">抽选</a>
                            </div>
                        {% else %}
                            {% if selected_lectures and lecture in selected_lectures %}
                                 <a href="{% url 'lecture:signup' lecture.id %}" class="btn btn-danger m-auto {% if lecture.did_draw %}disabled{% endif %}">退选</a>
                            {% else %}
                                <a href="{% url 'lecture:signup' lecture.id %}" class="btn btn-primary m-auto">报名</a>
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
            </div>
            </div>
            <div class="clearfix"></div>
        </div>


        {% endautoescape %}
    {% endfor %}
    </div>
    <div class="pagination center-block">
    <span class="step-links">
        {% if lectures.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ lectures.number }} of {{ lectures.paginator.num_pages }}.
        </span>

        {% if lectures.has_next %}
            <a href="?page={{ lectures.next_page_number }}">next</a>
            <a href="?page={{ lectures.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

    {% if request.user.is_staff %}
        <a href="create" class="btn btn-primary">Create A Lecture</a>
    {% endif %}
    </div>
{% else %}
    <p class="text-center">
        当前没有讲座
    </p>
    <a class="btn btn-primary text-center" href="{% url 'lecture:create' %}">
        添加讲座
    </a>
{% endif %}
{% endblock %}