{% extends 'base.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'lecture:index' %}">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">我的选课</a>
    </li>

{% endblock %}
{% block content %}
{% if results %}
    <div class="col-12">
    <div class="row card-columns">

    {% for result in results %}
        {% with lecture=result.lecture %}
        {% autoescape off %}
        <div class="col-lg-3 col-md-12 m-auto">
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url 'lecture:detail' result.lecture.id %}">
                  <u>{{ lecture.title }}</u>
                </a>
              </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">时间: {{ lecture.lecture_time }}</li>
                    <li class="list-group-item">地点: {{ lecture.lecture_location }}</li>

                    <li class="list-group-item">演讲人: {{ lecture.lecturer }}
                        <br/>
                        {{ lecture.lecturer_introduction }}
                    </li>
                    <li class="list-group-item">选课人数: {{ lecture.get_number_of_selected }}/{{ lecture.capacity }}</li>
                    <li class="list-group-item text-info">
                        抽选状态: {{ result.get_status }}
                    </li>
                    <li class="list-group-item">
                        {% if request.user.is_staff %}
                            <div class="btn-group">
                                <button href="" class="btn btn-primary m-auto">修改</button>
                                <button href="" class="btn btn-danger m-auto">删除</button>
                                <button href="" class="btn btn-info m-auto">抽选</button>
                            </div>
                        {% else %}
                            {% if lecture.did_draw %}
                            {% else %}
                                <button href="" class="btn btn-danger m-auto">退选</button>
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
            </div>
            </div>
        </div>


        {% endautoescape %}
        {% endwith %}
    {% endfor %}

    </div>
    {% if request.user.is_staff %}
        <a href="create" class="btn btn-primary">Create A Lecture</a>
    {% endif %}
    </div>

{% else %}

{% endif %}

{% endblock %}
